{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
              <p class="article-content"> हाँ महाराज, फसल तैयार है, चला जाये काटने ।।   <p>
              <!-- <p class="article-content"> हाँ, मोहन जी, क्या कर रहे है, <br>
                  स्टॉक का भी एक कोर्स लेके अच्छे से सीख के इन्वेस्ट करेंगे  ।।   <p> -->
          </div>
        </article>
    {% endfor %}
{% endblock content %}
