<table id="equityOptionChainTotalRow" class="common_table w-100">
    <tbody>
        <tr>
            <td width="2.34%">Tot</td>
            <td id="equityOptionChainTotalRow-CE-totOI" width="5.14%" class="">{{ total_dict['ce']['oi'] }}</td>
            <td width="4.34%"></td>
            <td id="equityOptionChainTotalRow-CE-totVol" width="5.54%" class="">{{ total_dict['ce']['vol'] }}</td>
            <td width="3.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="6.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="4.34%"></td>
            <td width="3.34%"></td>
            <td id="equityOptionChainTotalRow-PE-totVol" width="5.54%" class="">{{ total_dict['pe']['vol'] }}</td>
            <td width="4.34%"></td>
            <td id="equityOptionChainTotalRow-PE-totOI" width="5.14%" class="">{{ total_dict['pe']['oi'] }}</td>
            <td width="2.34%"></td>
        </tr>
    </tbody>
</table>